.header {
    background-color: white;
    z-index: 50;
    position: fixed;
    top: 0;
    width: 100%;
}

.headerWhite {
    background-color: white;
}

.headerBlack {
    background-color: black!important;
}

#nav {
    transition: 300ms;
    background-color: white;
    padding: .5rem 1rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navActive {
    top: 0 !important;
}

#nav ul {
    z-index: -1;
    transition: 300ms;
    top: -700px;
    position: absolute;
    grid-row: 2 / 3;
    background-color: black;
    width: 100%;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 24px;
}

#nav ul li {
    padding: .5rem 0;
}

.logo {
    margin: auto 0;
}

.containerMenu {
    display: flex;
    justify-content: end;
}

.containerMenuHide {
    display: none;
}

.containerButtonMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: .6rem;
    width: 100px;
    border-radius: 60px;
}

.menu {
    color: white;
    font-size: 14px;

}

.containerLangSearch {
    color: white;
    font-size: 24px;
}

.search {
    margin: 1rem 0;
}

.openMenu {

}

.closeMenu {
    display: none;
}

.containerBtnNewsletter {
    width: 100%;
    padding-top: 1rem;
}

.buttonNewsLetter {
    border: none;
    justify-content: space-between;
    display: flex;
    width: 100%;
    background-color: #77D7DB;
    padding: 1.3rem;
}

.newsletter {
    font-size: 14px;
    font-weight: bold;
}

.containerNetwork {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.email {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.x {

}

.youtube {
    margin-right: 1.5rem;
}


@media (min-width: 992px) {

    #nav {
        background-color: transparent;
        padding: 0;

    }
    .logo {
        padding-left: 1.5rem;
    }

    .logoOnlyB{
        width: 45px;
    }
    .containerMenu {
        padding: 1em;
    }

    #nav ul {
        padding: 3rem 2rem;
        grid-row: 1/2;
        grid-column: 2 / 3;
    }

    #nav .ulNoScroll {
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .containerLangSearch {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .containerLangSearchNoScroll {
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .containerLangSearchNoScroll img {
        width: 25px;
        height: 25px;
    }
  .containerBtnNewsletter{
      display: flex;
      gap: 25px;
  }
  .containerNetwork{
      padding: 0;
  }
  .containerSocialMedia{
      display: flex;
      align-items: center;
      padding: 0;
      height: 100%;
  }
  .newsletter{
     font-size:  12px;
  }
    .containerNetwork p{
        display: none;
    }
}
