@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --font-main: 'Open Sans', sans-serif;

  --color-primary: #77D7DB;
  --color-secondary: #FF5E43;
  --color-blue: #1DA1F2;
  --color-ligthBlue: #40B5E0;
  --color-greenLigth: #44D19D;
  --color-yellow: #FEDA3C;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  overflow-x: hidden;
}

li {
  list-style: none;
}
.aboutUs{
 padding: 2rem 1rem;
  background-color: var(--color-secondary);
}
.aboutUs p{
  font-size: 24px;
}

@media (min-width: 768px) {
  .aboutUs{
    padding: 2rem 2rem;
    background-color: var(--color-secondary);
  }
  .aboutUs p{
    font-size: 34px;
  }
}
@media (min-width: 1024px) {
  .aboutUs p{
    font-size: 44px;
  }
}

@media (min-width: 1280px) {
  .aboutUs p{
    font-size: 54px;
  }
}
@media (min-width: 1440px) {
  .aboutUs{
    padding: 5rem 6rem;
  }
  .aboutUs p{
    font-size: 64px;
  }
}

@media (min-width: 1700px) {
  .aboutUs p{
    font-size: 74px;
  }
}



