@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --font-main: 'Open Sans', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  min-height: 200vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}
